[Unit]
Description=Run FrogQuant healthcheck every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Unit=frogquant-healthcheck.service
Persistent=true

[Install]
WantedBy=timers.target
